/* .bz-navbar {
    background-color: green !important;
} */

.heading-color {
    background-color: #ccc;
    color: #000;
}

.moulimoulimouli{
    background-color: green;
}
.sdf{
    background-color: orange;
}